.container {
  width: 100%;
}

.title {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 16px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 4px;

  background: #fff;
  border-radius: 12px;
  padding: 12px;
}
