.container {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

.leftSide {
  width: 50%;
  flex: 0 0 50%;
  background-color: #7FD858;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.logoWrapper {
  padding: 2rem 2.5rem;
  z-index: 2;
  flex-shrink: 0;
}

.imageWrapper {
  flex: 1;
  position: relative;
  width: 100%;
  transform: translateY(-40px);
}

.image {
  object-fit: cover !important;
  object-position: center !important;
}


.rightSide {
  width: 50%;
  flex: 0 0 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 15rem;
  padding-left: 2.5rem;
  padding-right: 2.5rem;
  padding-bottom: 2.5rem;
}

@media (max-height: 850px) {
  .rightSide {
    padding-top: 10rem;
  }
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .leftSide {
    width: 100%;
    flex: initial;
    min-height: 18.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .logoWrapper {
    padding: 0;
    position: static;
  }


  .imageWrapper {
    display: none;
  }


  .rightSide {
    width: 100%;
    flex: 1;
    padding: 2.5rem 1.25rem;
    align-items: flex-start;
  }
}